<div class="">
    @model IEnumerable<string>
    <a class="btn btn-sm btn-default navbar-btn"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="">
        Home
    </a>
   
    @foreach (string category in Model)
    {
        <a class="btn btn-sm btn-default navbar-btn
          @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-default")"
           asp-action="List"
           asp-controller="Product"
           asp-route-category="@category"
           asp-route-page="1">
            @category
        </a>
    }
   
</div>